#wrapper {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

.back-image {
  position: absolute;
  left: 0;
  bottom: -4px;
  margin-left: 2em;
  object-fit: cover;
}

.header {
  width: fit-content;
  color: #000;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: -1px;
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
  user-select: none;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

