#container {
  background: url("../../public/images/bg-black-min.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #000;
  margin-bottom: 1em;
  user-select: none;
}

.button-text {
  width: fit-content;
  color: #000;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: -1px;
  user-select: none;
}
