.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  background: #000;
}

#preview-payer {
  position: relative;
  width: 430px;
  height: 932px;
  background: #f8f8f8;
  border: 0px solid #0000;
  margin: auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  overflow: hidden;
  opacity: 0;
  animation: fadeIn 0.8s ease-out 0.3s forwards;
}

.image1 {
  width: 320px;
  height: 320px;
  object-fit: cover;
  margin-top: 3em;
  user-select: none;
  pointer-events: none;
}

.text1 {
  width: fit-content;
  color: #000;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: -1px;
  margin-top: 1.5em;
  text-shadow: 0px 0.5px, 0.5px 0px, 0.5px 0.5px;
  user-select: none;
}

.text2 {
  width: fit-content;
  color: #000;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 0.95rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  margin-top: 1.2em;
  user-select: none;
}

.preview-container {
  width: 80%;
  height: 260px;
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
  margin-top: 2em;
}

.preview-item {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0.5em;
}

.image {
  width: 52px;
  height: 52px;
  object-fit: cover;
  margin-left: 2em;
}

.text {
  width: fit-content;
  color: #000;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  font-size: 0.95rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-left: 1.4em;
  user-select: none;
}

.dots {
  position: absolute;
  right: 0;
  margin-right: 2em;
  margin-bottom: 4px;
  object-fit: cover;
  cursor: pointer;
}

.link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-block;
  width: 80%;
  height: 56px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  background: #000;
  margin-top: 4em;
  border-radius: 8px;
  user-select: none;
  cursor: pointer;
}

.button:active {
  animation: shrink 0.35s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  66% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
